<div id="myCarousel" class="carousel slide" data-ride="carousel">

    <!-- Indicators -->

    <ol class="carousel-indicators">

    </ol>
    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      {% if carousel_items %}
        {% for item in carousel_items %}
          <div class="item {% if item['active'] %} {{ item['active'] }} {% endif %}">
            <img src="{{ item['image_src'] }}" alt="{{ item['title'] }}" width="1200" height="700">
            <div class="carousel-caption">
              <h3>{{ item['title'] }}</h3>
              <p>{{ item['caption'] }}</p>
            </div>
          </div>
        {% endfor %}
      {% endif %}
    </div>
    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="fa fa-angle-left fa-3x" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="fa fa-angle-right fa-3x" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>

</div>
