<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Theme The Band</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/assets/band/css/font-awesome.min.css">
  <link rel="stylesheet" href="/assets/band/css/bootstrap.min.css">
  <style>
  {%- block style %}{% endblock -%}
  {%- include "templates/includes/navbar/navbar.css" -%}
  {%- include "templates/includes/footer/footer.css" -%}
  </style>
</head>
<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="50">
  <header>
    {%- include "templates/includes/navbar/band-navbar.html" -%}
    {%- block carousel %}{% endblock -%}
  </header>
  {%- block content %}{% endblock -%}
  {%- include "templates/includes/footer/band-footer.html" -%}

  <script type="text/javascript" src="/assets/band/js/jquery.min.js"></script>
  <script type="text/javascript" src="/assets/band/js/bootstrap.min.js"></script>
  {% block script %}{% endblock %}
</body>
</html>
